@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");


body{
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

*{
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  
  div.card {
    background-color: #eeeeee;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }
  
  p {
    font-size: 1em;
    color: black;
    font-family: Helvetica;
  }
  
  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }
  

input {
    margin: 8px 10px 0px 0px;
    padding: 2px;
    box-sizing: border-box;
    width: 150px;
    display: inline-block;
}

.delete-btn {
  background-color: red;
  outline: none;
  width: 25px;
  height: 25px;
}

  .column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }